@media (max-width: 1068px) {
    .header {
        background-image: url(images/mobile/image-header.jpg);        
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 10px;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        background: #303030;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);        
    }
    
    .menu.active {
        left: 0;        
    }

    .menu li {
        margin: 20px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;             
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .top-header {             
        z-index: 3;
    }

    .bottom-header {
        gap: 30px;                
    }

    .bottom-header h2 {
        font-weight: 900;
        font-size: 50px;        
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .images:nth-of-type(2) {
        background-image: url(images/mobile/image-transform.jpg);
    }     
    .images:nth-of-type(3) {
        background-image: url(images/mobile/image-stand-out.jpg);
    } 
    .images:nth-of-type(4) {
        background-image: url(images/mobile/image-photography.jpg);
    } 
    .images:nth-of-type(5) {
        background-image: url(images/mobile/image-graphic-design.jpg);
    }   
     
    .clients {
        display: flex;
        flex-flow: column;        
        flex: 1;        
        justify-content: space-between;
        gap: 120px;
        margin-bottom: 80px;
    }

    .client img {
        margin-bottom: 30px;
    }
    
    .work img {
        width: 376px;
        height: 376px;
    }
}
